* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5%*/
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400px;
  color: #555;
}
.test {
  background-color: orangered;
  max-width: 50rem;
  padding: 4rem;
  font-size: 2rem;
  color: #fff;
  /* 1rem = 10px */
}
